.mat-standard-chip {
  background: #52bb2a;
  color: white;
  height: 5.5rem;
}

.mat-icon {
  color: #fff957 !important;
  opacity: 1  !important;
  font-size: 1.5rem !important;
  padding-top: 0.7rem !important;
}
